/*CSS stylesheet */
*{
    margin:0;
    padding:0;
}
body{
    background-color: rgba(156, 196, 192, 0.5);
    
}
 body header{
    
    background-size: cover;
    background-image:url(back3.jpg);
    height: 110vh;
    border-top:80vh solid rgba(13, 8, 46, 0.4);
    border-bottom:80vh solid rgba(13, 8, 46, 0.4);
    border-left:80vh solid rgba(13, 8, 46, 0.4);
    border-right:80vh solid rgba(13, 8, 46, 0.4);
    margin-top: -68vh;
    margin-left: -35vh;
    margin-right: -45vh;
    background-repeat: round;
    border-radius: 50%;
    background-clip: border-box;
    border-bottom-color:rgba(156, 196, 192, 0.5);
    border-bottom-style: solid;
  
    
    
}
header nav{
    margin-top: -18.1vh;
    margin-left: -45vh;
    
    width: 157.3%;
    height:4.3vh;
    
    position: fixed;
    z-index:150;
    
}
header nav img{
    margin-top: -12.2vh;
    margin-left: -45vh;
    filter: brightness(90%);
    width: 157.3%;
    height:23.7vh;
    border-bottom:.6vh solid black;
    z-index: 120;
    
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    width:5%;
    padding-left: 29vh;
    transform: translate(0px,-8vh);
    filter: brightness(50%);
    z-index: 250;
}
nav a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    
    color: rgb(10, 56, 35);
}
body header h2{
    font-family: cursive;
    text-align: center;
    margin-top:53vh;
    color: rgb(10, 56, 35);
    
}
 
main>div>h1{
    border: 3px solid rgb(167, 204, 200);
    background-color: rgb(167, 204, 200);
    text-align: center;
    font-family: cursive;
    color:rgb(10, 56, 35);
    margin-left: -55vh;
    margin-top: -80vh;
}
main div section{
    display: flex;
    width: 100%;
    border: 3px solid rgb(167, 204, 200);
    background-color: rgb(167, 204, 200);
    color: rgb(63, 63, 63);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .7rem;
    text-align: center;
    height:18vh;
}

main div section img{
    z-index:110; 
    width: 32vw;
    height:65vh;
    border-radius: 50%;
}
main div article{
    
    width: 100%;
    border: 3px solid rgb(36, 82, 61);
  background-color: rgb(36, 82, 61);
    height:25vh;
    z-index: 100;
}
main div article{
    display:flex;
    
}
main div article h1{
    padding-left:5vw;
    margin:1.6vw;
    text-align: center;
    font-family: cursive;
    color:rgb(167, 204, 200);
}
main div article p{
    padding-left:5vw;
    margin:1.6vw;
    text-align: center;
    color: rgb(167, 204, 200);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
main section{
    
    width: 100%;
    border: 3px solid rgb(184, 140, 162);
    background-color: rgb(184, 140, 162);
    height:25vh;
    z-index: 100;
}
main article{
    
    width: 100%;
    border: 3px solid rgb(134, 118, 14);
    background-color: rgb(134, 118, 14);
    height:25vh;
    z-index: 100;
    margin-top:0vh;
}
